<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find move_one_leg)/urdf/phantomx.xacro'"/>
<!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- show in RViz-->
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find move_one_leg)/launch/config.rviz"/>

<!-- send joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="True"/>
    </node>
</launch>
